%li.mr-35
  = link_to(catalog_path(params.permit(:page, :sort).merge(category_id: categories_line_item.id)), class: 'filter-link') do 
    = categories_line_item.name
    %span.badge.general-badge
      = categories_line_item.books.size