.input-group.general-position
  %a.input-link.quantity-minus{ href: '#' }
    %i.fa.fa-minus.line-height-40
  = f.input_field :quantity, class: 'form-control quantity-input', value: quantity
  %a.input-link.quantity-plus{ href: '#' }
    %i.fa.fa-plus.line-height-40
