.rating-box
  %label{:for => "rating-1"}
    %i.fa.fa-star.rate-empty
  %input#rating-1{name: rating_name, type: "radio", value: "1", hidden: true}/
  -# %label{:for => "rating-2"}
  -#   %i.fa.fa-star.rate-empty
  -# %input#rating-2{:name => name, :type => "radio", :value => "2", hidden: true}/
  -# %label{:for => "rating-3"}
  -#   %i.fa.fa-star.rate-empty
  -# %input#rating-3{:name => name, :type => "radio", :value => "3", hidden: true}/
  -# %label{:for => "rating-4"}
  -#   %i.fa.fa-star.rate-empty
  -# %input#rating-4{:name => name, :type => "radio", :value => "4", hidden: true}/
  -# %label{:for => "rating-5"}
  -#   %i.fa.fa-star.rate-empty
  -# %input#rating-5{:name => name, :type => "radio", :value => "5", hidden: true}/
