.dropdown.dropdown_style
  %a.dropdown-toggle.lead.small{ href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false" }
    = t(Sortings::SortCurrent.call(sort_selected: params[:sort])[:value])
    %i.fa.fa-angle-down.dropdown-icon.pull-right
  %ul.dropdown-menu
    = render partial: 'partials/sorting_select_item', collection: Constants::SORT_LIST
