%ul.dropdown-menu
  %li
    %a{href: "?sort=newest"} Newest first
  %li
    %a{href: "?sort=popular"} Popular first
  %li
    %a{href: "#"} Price: Low to hight
  %li
    %a{href: "#"} Price: Hight to low