:plain
  $(document).ready(function() {
    $('#records_table').append("#{j(render partial: 'partials/categories_books', collection: @books, as: :book)}");
    $('#div_next_link').html("#{j(render 'partials/next_link')}");
  });
