.dropdowns.dropdown.general-order-dropdown
  %a.dropdown-toggle.lead.small{ href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false" }
    = t("orders.status.#{params[:filter] || Order::FINISH_DEFAULT_STATUS}")
    %i.fa.fa-angle-down.dropdown-icon.pull-right
  %ul.dropdown-menu
    - Order::FINISH_STATUSES.each do |status|
      %li
        = link_to(t("orders.status.#{status}"), request.params.merge(filter: status))
