:plain
  $(document).ready(function() {    
    var flash_notice = $("#notice");
    flash_notice.html("#{j(notice)}");
    flash_notice.css('display', flash_notice.text().length == 0 ? 'none' : 'block')
    $("#new_review_form").html("#{j(render partial: 'partials/review_write', locals: { review: @review }) }");
  });
