%tr
  %td
    .general-img-wrap-table
      = link_to url_for(cart_item_line.book) do
        %img.cart-img-shadow.pull-left{ src: 'http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg', alt: 'design-book' }
  %td
    %p.title
      = link_to cart_item_line.book.name, url_for(cart_item_line.book)
  %td
    %span.font-16.in-gold-500
      = cart_item_line.book.decorate.price_show
  %td
    -# = render partial: 'partials/counter', locals: { f: f, quantity: cart_item_line.quantity }
    .input-group
      %a.input-link{ href: '#' }
        %i.fa.fa-minus.line-heaght-40
      %input.form-control.quantity-input{ type: 'text', value: cart_item_line.quantity }
      %a.input-link{href: '#' }
        %i.fa.fa-plus.line-heaght-40
  %td
    %span.font-16.in-gold-500
      = humanized_money_with_symbol cart_item_line.quantity * cart_item_line.book.price
  %td
    %button.close.general-cart-close{ type: 'button', 'aria-label': 'Close' }
      %span{'aria-hidden': 'true'} &times;
