%li.step{ class: [('active' if step_iteration.index == state), ('done' if step_iteration.index < state)] }
  %span.step-number{ class: ('fa fa-check' if step_iteration.index < state) }
    = step_iteration.index + 1 unless step_iteration.index < state
  %span.step-text.hidden-xs
    = step.capitalize
